<nav class="nav justify-content-center navbar-expand-lg bg-light">
  <%= link_to "Home" ,root_path ,class:"nav-link active" %>
  <%= link_to "Divisas" , get_divisas_path,class:"nav-link active" %>
  <%= link_to "Precios de Monedas actuales" , get_latest_path,class:"nav-link active" %>
  <a class="nav-link" href="#">Ejecucion de llamadas</a>
</nav>